
*{
	box-sizing: border-box;
}
html{
    height: 100%;
	overflow: hidden;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}
header{
	width: 100%;
	height: 50px;
	border: solid 1px black;
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	position: fixed;
	top: 0px;
}
.mid{
	margin-top: 50px;
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	
	width: 100%;
	height: calc(100vh - 100px);
	-moz-height: calc(100vh - 100px);
	-webkit-height: calc(100vh - 100px);
}
.left{
	width: 50px;
	height: 100%;
	position: fixed;
	left: 0;
}
.right{
	width: 50px;
	height: 100%;
	position: fixed;
	right: 0;
}
.main{
	width: calc(100vw - 100px);
	-moz-width: calc(100vw - 100px);
	-webkit-width: calc(100vw - 100px);
	
	height: calc(100vh -100px);
	-moz-height: calc(100vh -100px);
	-webkit-height: calc(100vh -100px);
	margin-left: 50px;
	margin-right: 50px;
	position: relative;
	overflow: hidden;
}
footer{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: white;
}
.sound_Btn{
	width: 50px;
	height: 50px;
	background-color: black;
	position: fixed;
	left: 0;
}
.ticket_Btn{
	height: 50px;
	width: 50px;
	position: fixed;
	right: 0;
	background-color: black;
}
.nav_Btn{
	width: 50px;
	height: 50px;
	background-color: black;
	position: fixed;
	left: 0;
}
.homepage_Btn{
	width: 50px;
	height: 50px;
	background-color: black;
	position: fixed;
	right: 0;
}

/*loading*/
.loading{
		position: fixed;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		background-color: black;
		left: 0px;
		top: 0px;
		opacity: 1;
		visibility: visible;
		transition: .4s;
	}

.loadingimg img{
		position: relative;
		left: calc(50vw - 25px);
		top: calc(50vh - 25px);
		width: 50px;
		height: 50px;
		animation: loadingani 3s linear forwards infinite;

	}


@keyframes loadingani{
	0%{
		transform: rotate(0deg);
	}
		
	100%{
		transform: rotate(360deg);
	}

}

/*menuicon*/
#hamburger {
  display: none;
}
.menuicon {
  position: absolute;
  top: 15px;
  left: 13px;
  display: block;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 999;
}
.menuicon span {
  display: block;
  top: 8px;
  left: -6px;
  width: 35px;
  height: 4px;
  background-color: white;
  position: relative;
  transition-duration: 0;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
	
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  border-radius: 3px;
}
.menuicon span::after, .menuicon span::before {
  display: block;
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 3px;
  -moz-border-radius: 3px;
	
  background-color: white;
  -webkit-transition-property: margin, -webkit-transform;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
	
  transition-delay: 0.2s, 0;
  -webkit-transition-delay: 0.2s, 0;
  -moz-transition-delay: 0.2s, 0;
  -o-transition-delay: 0.2s, 0;
}
.menuicon span::before {
  margin-top: -12px;
}
.menuicon span::after {
  margin-top: 12px;
}

#hamburger:checked ~ .menuicon span {
  background-color: rgba(0, 0, 0, 0);
}
#hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
  margin-top: 0px;
  transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  -moz-transition-delay: 0s, 0.2s;
}
#hamburger:checked ~ .menuicon span::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
#hamburger:checked ~ .menuicon span::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
/*menuicon*/

/*menu*/
#hamburger:checked ~ .menuicon .menu {
	width: calc(100% - 100px);
	-moz-width: calc(100% - 100px);
	-webkit-width: calc(100% - 100px);
}
.menu {
	display: block;
	height: calc(100% - 100px);
	-moz-height: calc(100% - 100px);
	-webkit-height: calc(100% - 100px);
	
	width: 0px;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	
	transition-timing-function:cubic-bezier(0.2,0.7,0.3);
	-webkit-transition-timing-function:cubic-bezier(0.2,0.7,0.3);
	-o-transition-timing-function:cubic-bezier(0.2,0.7,0.3);
	-moz-transition-timing-function:cubic-bezier(0.2,0.7,0.3);
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 999;
	overflow: hidden;
}
.menu ul{
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	
	list-style: none;
	height: 100%;
	width: 100vw;
	margin: 0px;
	padding: 0;
	z-index: 999;
}
.menu ul li{
	font-size: 18pt;
	background-color: black;
	display: block;
	border-right: solid 1px white;
	text-align: center;
	width: calc((100vw - 100px)/5);
	-moz-width: calc((100vw - 100px)/5);
	-webkit-width: calc((100vw - 100px)/5);
	
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 5px;
}
.menu ul li:last-child{
	border-right: 0;
}
.menu ul li:hover{
	background-color: white;
	font-size: 26pt;
	font-weight: 500;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
}
.menu ul li:hover a {
	color: black;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
	position: relative;
	top: 50%;
	
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	}

/*marquee*/
.marqueeTop{
	height: 50px;
	width: calc(100vw - 100px);
	-moz-width: calc(100vw - 100px);
	-webkit-width: calc(100vw - 100px);
	
	position: fixed;
	left: 50px;
	border-bottom: solid 1px black;
	background-color: white;
	z-index: 999;

}
.marqueeBottom{
	height: 50px;
	width: calc(100% - 100px);
	-moz-width: calc(100% - 100px);
	-webkit-width: calc(100% - 100px);
	
	position: fixed;
	left: 50px;
	background-color: white;
	z-index: 999;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
.marqueeLeft,.marqueeRight{
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	
	width: 50px;
	height: calc(100vh - 100px);
	-moz-height: calc(100vh - 100px);
	-webkit-height: calc(100vh - 100px);
	
	position: fixed;
	background-color: white;
	border: solid 1px black;
}
.marqueeTop_CH,.marqueeBottom_CH{
	height: 28px;
	font-size: 25px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: adobe-heiti-std, sans-serif;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 3.5px;
	overflow: hidden;
	
	transform: scaleY(0.9);
	-ms-transform: scaleY(0.9);
	-moz-transform: scaleY(0.9);
	-webkit-transform: scaleY(0.9);
	-o-transform: scaleY(0.9);
}
.marqueeTop_EN,.marqueeBottom_EN{
	white-space: nowrap;
	height: 19px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	overflow: hidden;
}
.marqueeLeft_EN,.marqueeRight_EN{
	margin-left: 3px;
	white-space: nowrap;
	overflow: hidden;
	width: 14px;
	height: 100vh;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
}
.marqueeLeft_CH,.marqueeRight_CH{
	margin-left: 4px;
	height: 28px;
	width: 20px;
	font-size: 25px;
	font-family: adobe-heiti-std, sans-serif;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 4px;
	
	transform: rotate(90deg) scaleY(0.9);
	-ms-transform: rotate(90deg) scaleY(0.9);
	-moz-transform: rotate(90deg) scaleY(0.9);
	-webkit-transform: rotate(90deg) scaleY(0.9);
	-o-transform: rotate(90deg) scaleY(0.9);

}

/*inputtext*/
#input {
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	
	align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	
	top: 150px;
	left: 225px;
	position: absolute;
}
#task {
    color: white;
	background-color: black;
	height: 20px;
	width: 150px;
	border: solid 1px black;
	font-size: 12px;
	font-family: adobe-heiti-std;
	font-weight: 400;
	font-style: normal;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	
	-webkit-appearance: none;
	text-align: center;
	vertical-align:middle;
}
button#add {
	height: 21px;
	width: 26px;
	margin-left: 5px;
	background: url(inputbtn2.png) no-repeat;
	background-size: 26px 21px;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#taskList{
    width: 45%;
  	position: absolute;
	margin: 0;
	padding: 0;
	top: 0px;
}
#taskList li{
    list-style-type: none;
	font-family: adobe-heiti-std;
	font-weight: 400;
	font-style: normal;
    color: white;
	border: solid 1px black;
	font-size: 70px;
	text-stroke: 1px black;
	-webkit-text-stroke: 1px black;
	width: 140px;
	line-height: 82px;
	white-space: nowrap;
	background-color: white;
	position: absolute;
	display: block;   
}
#taskList li:hover{
	background-color: black;
	color: white;
	animation: wiggle_li 75ms infinite;
	-moz-animation: wiggle_li 75ms infinite;
	-webkit-animation: wiggle_li 75ms infinite;
}
@keyframes wiggle_li {
  0% { transform: translate(2px, 0); 
	   -ms-transform: translate(2px, 0); 
	   -moz-transform: translate(2px, 0); 
	   -webkit-transform: translate(2px, 0); 
	   -o-transform: translate(2px, 0); }
	
  50% { transform: translate(-2px, 0); 
	   -ms-transform: translate(-2px, 0); 
	   -moz-transform: translate(-2px, 0); 
	   -webkit-transform: translate(-2px, 0); 
	   -o-transform: translate(-2px, 0); }
	
  100% { transform: translate(2px, 0); 
	   -ms-transform: translate(2px, 0); 
	   -moz-transform: translate(2px, 0); 
	   -webkit-transform: translate(2px, 0); 
	   -o-transform: translate(2px, 0); }
}

/*video*/
.video-container{
	position: absolute;
	width: 100%;
	height: 100%;
}
.video-container video{
	width: 100%;
	height: 100%;
	
	object-fit: cover;
	-webkit-object-fit: cover;
	-o-object-fit: cover;
	position: fixed;
	bottom: 50px;
}

/*sinline*/
.line{
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	
	align-items: flex-start;
	-ms-align-items: flex-start;
	-moz-align-items: flex-start;
	-webkit-align-items: flex-start;
	
	justify-content: flex-start;
	-ms-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	
	position: relative;
	z-index: 0;
	left: 20px;
	top: 20px;
	width: 180px;
	height: 180px;
	background-size: 30px 30px;
	background-image: linear-gradient(to bottom, black 1px, transparent 1px), linear-gradient(to right, black 1px, transparent 1px);
}
.line::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: black;
}
.line::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: black;
}
svg{
	width: 180px;
	height: 180px;
}
path{
	stroke: #65B2E8;
	stroke-width: 2px;
	fill: none;
}

/*codetext*/
.code1{
	position: absolute;
	top: 180px;
}
.code2{
	position: absolute;
	top: -195px;
	left: 200px;
	height: 320px;
}
.code1 span,.code2 span{
	display: block;
	transform: scale(0.7); 
	-ms-transform: scale(0.7); 
	-moz-transform: scale(0.7); 
	-webkit-transform: scale(0.7); 
	-o-transform: scale(0.7); 
	
	line-height: 1.8;
	font-family: Consolas; 
	letter-spacing: 0.7px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
.code1:hover span,.code2:hover span{
  animation: wiggle 75ms infinite;
  -moz-animation: wiggle 75ms infinite;
  -webkit-animation: wiggle 75ms infinite;
	
  animation-timing-function: linear;   
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  color: #65B2E8;
}
@keyframes wiggle {
  0% { transform: translate(2px, 0) scale(0.7); 
	   -ms-transform: translate(2px, 0) scale(0.7); 
	   -moz-transform: translate(2px, 0) scale(0.7); 
	   -webkit-transform: translate(2px, 0) scale(0.7); 
	   -o-transform: translate(2px, 0) scale(0.7); }
	
  50% { transform: translate(-2px, 0) scale(0.7); 
	   -ms-transform: translate(-2px, 0) scale(0.7); 
	   -moz-transform: translate(-2px, 0) scale(0.7); 
	   -webkit-transform: translate(-2px, 0) scale(0.7); 
	   -o-transform: translate(-2px, 0) scale(0.7); }
	
  100% { transform: translate(2px, 0) scale(0.7); 
	  	 -ms-transform: translate(2px, 0) scale(0.7); 
	     -moz-transform: translate(2px, 0) scale(0.7); 
		 -webkit-transform: translate(2px, 0) scale(0.7); 
		 -o-transform: translate(2px, 0) scale(0.7); }
}

/*standing poof*/
.sP{
	border: solid 1px black;
	overflow: hidden;
	background-color: white;
	width: 136px;
}
.sP span{
	font-size: 70px;
	font-family: adobe-heiti-std;
	font-weight: 400;
	font-style: normal;
	-webkit-text-stroke: 1px black;
	text-stroke: 1px black; 
	
	color: white;
	white-space: nowrap;
}
.SP1,.SP2{
	position: absolute;
	right: 3vw;
}
.SP3,.SP4,.SP5{
	position: absolute;
	right: 10vw;
}
.SP1{
	top: -18px;
}
.SP2{
	top: 34px;
}
.SP3{
	top: 100px;
}
.SP4{
	top: 152px;
}
.SP5{
	top: 204px;
}
.SP1:hover{
	background-color: black;
	color: white;
	animation: wiggle_li 75ms infinite;
	-moz-animation: wiggle_li 75ms infinite;
	-webkit-animation: wiggle_li 75ms infinite;
}
.SP2:hover{
	background-color: black;
	color: white;
	animation: wiggle_li 75ms infinite;
	-moz-animation: wiggle_li 75ms infinite;
	-webkit-animation: wiggle_li 75ms infinite;
}
.SP3:hover{
	background-color: black;
	color: white;
	animation: wiggle_li 75ms infinite;
	-moz-animation: wiggle_li 75ms infinite;
	-webkit-animation: wiggle_li 75ms infinite;
}
.SP4:hover{
	background-color: black;
	color: white;
	animation: wiggle_li 75ms infinite;
	-moz-animation: wiggle_li 75ms infinite;
	-webkit-animation: wiggle_li 75ms infinite;
}
.SP5:hover{
	background-color: black;
	color: white;
	animation: wiggle_li 75ms infinite;
	-moz-animation: wiggle_li 75ms infinite;
	-webkit-animation: wiggle_li 75ms infinite;
}